<div class="uk-dark">
  <div>
    <div class="uk-background-cover uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(/assets/Creative_process_SVG.svg);" uk-height-viewport>
      <h1 class="uk-heading-large uk-text-center">
	Hybridly

	<%= button_to 'Login', '/auth/auth0', method: :post, class: "uk-button uk-button-primary uk-button-large uk-width-1-1" %>
      </h1>
    </div>
  </div>
</div>
