<div class="uk-card uk-card-body">
  <h1 class="uk-heading-small">Reservations for <%= @date %></h1>

  <h1 class="uk-heading-divider"></h1>

  <h3><%= format_reservation_count(@reservations.size) %>:</h3>
  <ul class="uk-list uk-list-square">
    <% @reservations.each do |reservation| %>
      <li><%= "#{reservation.user.email} #{format_workspace_location(reservation.workspace)}" %></li>
    <% end %>
  </ul>
</div>
