
<div class="uk-card uk-card-body">
  <h1 class="uk-heading-medium">Insights</h1>

  <h1 class="uk-heading-divider"></h1>

  <h1 class="uk-heading-small">Reservations Per Day</h1>
  <%= line_chart @reservations_per_day %>
</div>
